.about-us {
    padding: 50px 0;
  }
  
  .about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-us-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    
  }
  
  .about-us-content p {
    margin-bottom: 15px;
    text-align: justify;
    font-style: oblique;
    font-weight: 500;
  }
  
  .about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }


  